#!/bin/sh
# Archer OS GRUB entry — replaces default distributor entry
exec tail -n +3 $0

menuentry "Archer OS" {
    insmod all_video
    insmod gzio
    insmod part_gpt
    insmod ext2
    search --no-floppy --label --set=root ARCHER_OS
    linux   /boot/vmlinuz root=LABEL=ARCHER_OS quiet splash loglevel=0
    initrd  /boot/initrd.img
}
